html, body {
    font-family: var(--theia-ui-font-family);
}

.localizer-translation-input {
    background-color: var(--theia-quickInput-background);
    border: 0;
    color: var(--theia-foreground);
    font-size: var(--theia-ui-font-size2);
    padding: 0.5em;
    width: 95%;
}

.localizer-translation-service-btn {
    height: fit-content;
}

.localizer-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }